# Configuração da API
OPENROUTER_API_KEY=COLA AQUI SUA API

# Modelo que será usado
MODEL_NAME=nousresearch/hermes-3-llama-3.1-405b:free
MAX_TOKENS=4096
TEMPERATURE=0.7

# Configuração da sessão
SESSION_DIR=./data/sessions
VECTOR_STORE_PATH=./data/vectorstore

# Logs
LOG_LEVEL=INFO